body {
  background-color: #000000;
}

h1 {
  text-align: left;
  color: rgb(255, 255, 255, 0.75);
  font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: lighter;
    padding-left: .25rem;
      padding-right: .25rem;
      padding-top: .5rem;
}

div {
  padding: 50px;
}
h2 {
  text-align: left;
    color: rgb(255, 255, 255);
      font-family: 'Times New Roman', Times, serif;
        font-size: 24px;
        font-weight: 1;
        padding-left: 10%;
          padding-right: 10%;
          padding-top: 4rem;
}
h3 {
  text-align: left;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
      font-size: 24px;
      font-weight: 1;
    padding-left: 10%;
      padding-right: 10%;
      padding-top: 10rem;
  }
  
body {
      text-align: left;
      color: rgb(255, 255, 255);
        font-family: 'Times New Roman', Times, serif;
          font-size: 24px;
        padding-left: 10%;
          padding-right: 10%;
          padding-top: 1rem;
}

a:link {
  font-size: 24px;
  color: rgb(255, 255, 255, 0.75);
}
a:visited {
  font-size: 24px;
  color: rgb(255, 255, 255, 0.75)
}