h1 {
  color: rgb(0, 4, 8);
    font-family: 'Times New Roman', Times, serif;
    font-size: 800px;
      font-weight: 800;
}

h2 {
  color: rgb(4, 4, 51);
    font-family: 'Times New Roman', Times, serif;
      font-weight: 300;
}

h3 {
  color: rgb(4, 4, 51);
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300;
}

body {
  background-color: #fdfdfde4;
  text-align: center;
    margin: auto;
    width: 600px;
      padding: 50px;
      font-family: 'Lexend Deca', sans-serif;
    }

  