body {
  background-color: #1a191b;
    text-align: center;
      margin: auto;
        width: min-content;
}

h1 {
  text-align: center;
    color: rgb(255, 255, 255);
      font-family: 'Times New Roman', Times, serif;
        font-size: 100px;
        font-weight: 800;
}

h2 {
  color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
      font-size: 40px;
}

h3 {
  color: rgb(255, 255, 255);
  font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    }
    
    p {
      color: rgb(255, 255, 255);
      font-family: 'Times New Roman', Times, serif;
      font-size: 40px;
      border-width: 50px;
    }
