body {
  background-color: #c2b5c2f6;
    text-align: center;
      margin: auto;
        width: fit-content;
}

h1 {
  text-align: center;
    color: rgb(0, 0, 0);
      font-family: 'Times New Roman', Times, serif;
        font-size: large;
        font-weight: 800;
}

h2 {
  color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
      font-size: small;
}

h3 {
  color: rgb(0, 0, 0);
  font-family: 'Times New Roman', Times, serif;
    font-size: small;
    }
